#autoRefreshForm {
    display: none;
}

#result {
    display: none;
}

div#image {
    text-align: center;
}

#img-on {
    width: 240px;
    height: 300px;
}

#img-off {
    width: 130px;
    height: 240px;
}