<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Device Status</title>
        <link rel="stylesheet" href="css/client.css"/>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/client.js"></script>
    </h:head>
    <h:body>
        <h:form id="autoRefreshForm">
            <h:commandButton id="btnLoadData" value="LoadData" action="#{switchBean.reload()}">
                <f:ajax render=":result" />
            </h:commandButton>
        </h:form>
        <h:panelGroup id="result" layout="block">
            <h:outputLabel id="status">#{switchBean.device.status}</h:outputLabel>
        </h:panelGroup>
        <div id="image">
            <img id="img-on" src="img/light-bulb-on.png"></img>
            <img id="img-off" src="img/light-bulb-off.png"></img>
            <div>#{switchBean.device.name} current status is <span id="on-or-off"></span></div>
        </div>
        <!--
        Note that <h:panelGroup layout="block"> renders a <div>.
        If you omit the layout attribute, it defaults to <span>
        (only whenever there are any attributes which needs to be rendered to HTML, like id).
        -->
    </h:body>
</html>

